.input-group {
    padding: 0px 12px !important;

    input {
        background-color: #031626;
        color: white;
        border: 1px solid white;
        border-radius: 3px;
        padding: 8px 10px;
    }

    select {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border: 1px solid white;
    }
}

.btn {
    background-color: #031626;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    transition: all 0.3s ease;
    padding: 8px 10px;
}

.btn-submit {
    background-color: #f18df2;
    border: 1px solid #f18df2;
    color: black;
}

.btn-bleu {
    background-color: #049dd9;
    border: 1px solid #049dd9;
    color: black;
}

.btn-mauve {
    background-color: #582259;
    border: 1px solid #582259;
    color: white;
}